@import models.Borrower
@(borrowers: Seq[Borrower])(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>Library Book Borrowers</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <style>
                body {
                    background-color: black;
                    color: white;
                }
                .table th, .table td {
                    color: white;
                }
                .btn-return {
                    margin-right: 5px;
                }
                .icon-small {
                    width: 80px;
                    height: 80px;
                }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="text-center">
                <img src="@routes.Assets.versioned("images/student.png")" alt="Library" class="icon-small">
                <h1 class="my-4 d-inline">MEMBER PORTAL</h1>
            </div>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>BORROWER</th>
                        <th>ASSIGNED BOOKS (ID)</th>
                        <th>BORROW BOOKS</th>
                    </tr>
                </thead>
                <tbody>
                @for(borrower <- borrowers) {
                    <tr>
                        <td>@borrower.name</td>
                        <td>
                        @for(bookId <- borrower.assignedBooks) {
                            <form action="@routes.BorrowerController.unassignBooks(borrower.id)" method="post" class="d-inline">
                                @helper.CSRF.formField
                            <input type="hidden" name="bookIds" value="@bookId">
                            <button type="submit" class="btn btn-danger btn-sm btn-return">ID @bookId</button>
                            </form>
                        }
                        </td>
                        <td>
                            <form action="@routes.BorrowerController.assignBooks(borrower.id)" method="post" class="form-inline">
                                @helper.CSRF.formField
                            <input type="text" name="bookIds" placeholder="Book IDs (comma separated)" class="form-control mr-2">
                            <button type="submit" class="btn btn-primary">Assign Books</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <h4 class="my-4 text-center">ADD MEMBER</h4>
            <form action="@routes.BorrowerController.addBorrower" method="post" class="form-inline justify-content-center">
                @helper.CSRF.formField
                <input type="text" name="name" placeholder="Member Name" class="form-control mr-2">
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
        <div class="container mt-5">
            <a href="http://localhost:9000/books" class="btn btn-link" style="position: absolute; bottom: 10px; right: 10px;">BOOKS PORTAL</a>
        </div>
    </body>
</html>
